<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加用户</title>
<!--    <link href="/css/bootstrap.css" rel="stylesheet">-->
</head>

<body>

<div style="width:800px;height:100%;margin-left:270px;">
    <form action="/insert" method="post">
        姓 名：<input type="text" name="name" id="name">
        年 龄：<input type="text" name="age" id="age">
        性 别：<input type="radio" name="sex" class="sex" value="雄">雄
              <input type="radio" name="sex" class="sex" value="雌">雌
        <input type="submit" value="添加">
    </form>
</div>

</body>
</html>